<header>
	<div id="logo">
		<%=link_to image_tag('wishtrak_logo.png'),root_path%>
	</div>
	
	<nav>
		<ul>
			<li><%= link_to 'Home',root_path,:class=>'active'%> </li>
			<li><%= link_to 'Signup','#'%> </li>
			<li><%= link_to 'Login', '#'%></li>
		</ul>
	</nav>
	
</header>